    <!-- Newsletter Section-->
    <section class="newsletter no-padding-top" id="subscribe">
		<div class="container">
		  <div class="row">

			<div class="col-md-6">
			  <h2>Subscribe to Newsletter</h2>
			  <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="col-md-8">
			  <div class="form-holder">
				<form action="/subscribe" method="POST" id="subscribe-form" onsubmit="addSubscriber(); return false;">
				  {% csrf_token %}
				  <div class="form-group">
					<input name="next" type="hidden" value="{{ request.path}}">
					<input type="email" name="subs_email" id="email" placeholder="Type your email address" required>
					<button type="submit" class="submit">Subscribe
						<div id="subscribe-spinner" class="spinner-border text-light d-none" role="status" style="width: 1rem; height: 1rem;">
							<span class="sr-only">Loading...</span>
						</div>
					</button>
				  </div>
				</form>
			  </div>
			</div>

			<div class="col-md-6">
			  <h3 id="subscription"></h3>
			</div>
			  
		  </div>
		  
		</div>
	  </section>
